.social-buttons {
    margin: 0;
    font-size: .8rem;
    .item {
        display: inline-block;
        margin-right: .5rem;
        position: relative;
        width: 2.1rem;
        height: 2.1rem;
        text-align: center;
    }
    .link {
        position: absolute;
        top: .115rem;
        left: .115rem;
        border-radius: 1.5rem;
        color: white;
        display: inline-block;
        padding: .4rem;

        &:hover {
            padding: .515rem;
            top: 0;
            left: 0;
        }
        .label {
            display: none;
        }
    }
    .facebook .link {
        background-color: #3E58A4;
    }
    .googleplus .link {
        background-color: #DB4437;
    }
    .twitter .link {
        background-color: #00ACEE;
    }
}
