.social-buttons {
    margin: 0;
    font-size: 1.3rem;
    .item {
        display: inline-block;
        position: relative;
        text-align: center;
    }
    .link {
        color: #999;
        display: inline-block;

        &:hover {
            color: #333;
        }
        .label {
            display: none;
        }
    }
    // .facebook .link {
    //     background-color: #3E58A4;
    // }
    // .googleplus .link {
    //     background-color: #DB4437;
    // }
    // .twitter .link {
    //     background-color: #00ACEE;
    // }
}
