<div class="about">
    <div class="about-text">
        <img class="logo" src="{{ site.baseimagesurl}}/edmunds-technology.png"/>
        <p>
            At Edmunds we’re not <em>just</em> about making car buying easier, we're also passionate about technology!
        </p>
        <p>
            As with any website that has millions of unique visitors, it's a necessity that we maintain
            a scalable and highly-available infrastructure with reliable services.
        </p>
        <p>
            We are excited by software design and strive to create engaging exper-iences while using
            coding practices that promote streamlined website production and experimentation.

            We embrace continuous delivery, dev ops, and are constantly improving our processes so we can stay lean
            and innovative.

            We also prioritize giving back to the community by providing open APIs for our auto-motive data and open sourcing projects
            whenever possible.
        </p>
    </div>
</div>
