<footer class="footer">
  <div class="container">
    <ul>
        <li class="footer-link"><a href="{{ site.baseurl }}/about/">
            About
        </a></li><li class="footer-link"><a href="https://www.edmunds.com/careers/">
            Careers
        </a></li><li class="footer-link"><a href="https://www.edmunds.com/about/visitor-agreement.html">
            Visitor Agreement
        </a></li><li class="footer-link"><a href="https://www.edmunds.com/">
            Edmunds.com
        </a></li>
    </ul>
    <div class="copyright">
         &copy; Edmunds <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
    </div>
  </div>
</footer>

