.secondary-container .about{
  border: 1px solid #e6e6e6;
}
.about {
    overflow: hidden;
    padding: 0;

    .about-header {
        background-color: white;
        border-bottom: 1px solid #336699;
        color: #336699;
        padding: .5rem 1rem;
        margin: 0;
        font-size: 18px;
        letter-spacing: .125rem;
    }

    .about-text {
        padding: 1rem;
        font-size: .825rem;
        text-align: justify;
        display: flex;
        flex-direction: column;
        img {
          margin: 0 auto;
        }
    }

    .logo {
        margin: -10px auto 0;
    }

    @media (max-width: $breakpoint-medium) {
        .logo {
          width: 50%;
          margin: -1rem 1rem 0 -1rem;
          float: left;
        }
    }
}
@media (max-width: $breakpoint-medium) {
  .secondary-container {
    margin-top: 0;
  }
}
