@import "variables";

.main-content {
  margin-top: 55px;

  .page-title {
    position: absolute;
    margin: 0;
    left: 2rem;
    top: -4rem;
    color: #fff;
    text-align: center;
    font-size: 4rem;
    letter-spacing: .1rem;
    width: auto;
    display: none;
  }
}
.hero-container {
  background-image: url('public/images/hero-lg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-top: 34%;
  width: 100%;
  position: fixed;
  top: 55px;

  + .main-content {
    position: relative;
    margin-top: 34%;
    background: #fff;

    .page-title {
      display: block;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .hero-container {
    padding-top: 41%;
    top: 48px;

     + .main-content {
       margin-top: calc(41% + 48px);

      .page-title {
        font-size: 3rem;
        top: -3rem;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .hero-container {
    padding-top: 41%;
    top: 48px;

    + .main-content {
      margin-top: calc(41% + 48px);

      .page-title {
        font-size: 2rem;
        left: 0;
        top: -2rem;
      }
    }
  }
}
