@import 'variables';

.flex-container {
  max-width: 60rem;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    > article {
      width: calc(66% - 2.5rem);
    }
}
.featured,
.nav {
    flex: 1 100%;
}
.container {
    max-width: 38rem;
    padding-left:  0;
    padding-right: 0;
    margin-left:  auto;
    margin-right: auto;
}
.secondary-container {
  padding-right: 1.5rem;
    width: calc(34% - 1.5rem);
    margin-top: 1.75rem;
    margin-left:  auto;
    margin-right: auto;
}

@media (max-width: $breakpoint-medium) {
    .flex-container {
        flex-flow: row wrap;
        > article {
          width: calc(100% - 2.5rem);
        }
    }
    .container {
        max-width: none;
    }
    .secondary-container {
      padding-left:  1.5rem;
        flex: 1 100%;
        max-width: 100%;
    }
}
