@import "variables";

.nav {
    background: white;
    border-bottom: #e6e6e6 solid 1px;

    .text-logo {
      display: none;
      font-size: 1.5rem;
      line-height: 3rem;
      margin: 0;
      font-weight: 400;
    }

    .flex-container {
        flex-flow: row-reverse nowrap;
    }

    .menu-collapsed {
        display: none;
    }

    .logo {
        border-right: 1px solid #e6e6e6;
        height: 2rem;
        margin: .5rem;
        padding-right: 1.5rem;
        width: 3.5rem;
    }

    .blog-title,
    .nav-link {
        color: #999;
        display: inline-block;
        padding: 0 .85rem;
        line-height: 3rem;
        font-size: .75rem;
        text-transform: uppercase;
        .icon {
            display: none;
        }
        &.hamburger {
          font-size: 1.4rem
        }
    }
    .nav-link {
        width: 100%;
    }

    .blog-title {
        order: 2;
        margin: 0;
        text-align: right;
        letter-spacing: .2rem;
        font-size: 1.75rem;
        overflow: hidden;
        white-space: nowrap;
    }

    .nav-container {
        background-color: white;
        flex: 1;
        margin-left: 0;
        padding-left: 0;
    }

    .nav-link-container {
        display: inline-block;
        font-weight: 400;
        position: relative;

        &:last-of-type {
            border-right: 0 solid;
        }

        &:hover .nav-link {
            color: #555;
        }

        .selected {
          color: #007ee5;
        }
    }

    @media (max-width: $breakpoint-medium) {
        .flex-container {
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        .logo {
          border: 0;
          height: 2rem;
          margin: .5rem;
          padding-right: 0;
          width: 2rem;
        }
        &.show-menu .menu-expanded {
            display: inline-block;
            left: 0;
        }
        .menu-expanded {
            border-radius: 0 0 1em 0;
            max-width: 95%;
            overflow: hidden;
            position: absolute;
            transition: left .5s;
            top: 3rem;
            z-index: 1;
            height: 100%;
        }
        .menu-expanded .nav-link-container {
            display: block;
            text-align: left;
            overflow: hidden;
        }

        .menu-expanded {
            .icon {
                display: inherit;
            }

            border-right: 1px solid #e6e6e6;
            border-radius: 0;
        }

        &:not(.show-menu) .menu-expanded {
            left: -100%;
        }

        .menu-collapsed {
            display: inherit;
        }
    }

    @media (max-width: $breakpoint-small) {
        .nology {
            display: none;
        }
        .nav-link {
          padding: 0 1rem;
          font-size: 1rem;
          font-weight: 400;
          .icon {
            display: none;
          }
          &.hamburger {
            font-size: 1.4rem
          }
        }

        .text-logo {
          display: block;
        }
    }
}
