.pagination {
  overflow: hidden; // clearfix
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

.pagination-item {
  display: block;
  padding: 1rem;
  margin: 1rem;

  &:first-child {
    float: left;
  }
  &:last-child {
    float: right;
  }
}
@media (min-width: 30em) {
  .pagination {
  }
}
