<ul class="social-buttons">
    <li class="facebook item">
        <a class="link no-underline i-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{include.post_url_full}}" title="Share on Facebook"><span class="label">Like</span></a>
    </li>
    <li class="twitter item">
        <a class="link no-underline i-twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{include.post_url_full}}" title="Share on Twitter"><span class="label">Tweet</span></a>
    </li>
    <li class="googleplus item">
        <a class="link no-underline i-gplus" target="_blank" href="https://plus.google.com/share?url={{include.post_url_full}}" title="Share on Google Plus"><span class="label">+1</span></a>
    </li>
</ul>
